<!-- your html code here -->
<div class="row">
  <div class="col my-5">
      <h2>Contact</h2>
      <p>Proin lacus quam, fringilla sed eleifend in, condimentum ac ligula. Sed ligula magna, ullamcorper
          quis diam sed, pretium bibendum est. Sed rutrum, nunc a eleifend faucibus, massa libero dignissim
          sapien, vitae molestie diam eros non augue</p>
      <form class="form p-3 border w-50 m-auto" style="background-color: rgb(235, 231, 231);">
          <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label text-right" style="font-weight: bold;">Your E-mail</label>
              <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
              </div>
          </div>
          <div class="form-group row">
              <label for="inputPassword3" class="col-sm-4 col-form-label text-right" style="font-weight: bold">Your message</label>
              <div class="col-sm-8">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
              </div>
          </div>
          <div class="form-group row">
              <div class="col-sm-12 text-right">
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </div>
      </form>
  </div>
</div>