<div class="container">

  <!-- First Featurette -->
  <br><br>
  <div class="card mb-3 none" style="max-width: 1100px; border: none;">
      <div class="row no-gutters">
          <div class="col-md-8">
              <div class="card-body">
                  <h1 class="card-title">This First Heading <a style="color: grey;">Will Catch Your Eye</a></h1>
                  <p class="card-text" style="font-size: 19px;">Donec ullamcorper nulla non metus auctor
                      fringilla. Vestibulum id ligula porta felis euismod semper. praesent commodo cursus magna,
                      vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
          </div>

          <div class="col-md-4">
              <img src="file:///C:/Users/nicol/Downloads/1.webp" class="card-img rounded-circle" alt="heisenberg">
          </div>
      </div>
  </div>
</div>