<!-- your html code here -->
<div class="row">
  <div class="col my-5">
      <h2>Portfolio</h2>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
          classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
          Hampden-Sydney College in Virginia
          source</p>

      <div class="card-deck">
          <div class="card border-0">
              <img class="card-img-top"
                  src="C:\Users\josem\OneDrive\Documents\4Geeks\exercise-git-collabration\website1\assets\img/big-project-image.png"
                  alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title" style="color: rgba(52, 52, 189, 0.76);">Project Name</h5>
                  <p class="card-text">All the Lorem Ipsum generators on the Internet tend to repeat
                      predefined chunks
                      as necessary, making this the first true generator on the Internet.
                  </p>
              </div>
          </div>
          <div class="card border-0">
              <img class="card-img-top"
                  src="C:\Users\josem\OneDrive\Documents\4Geeks\exercise-git-collabration\website1\assets\img/big-project-image.png"
                  alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title" style="color: rgba(52, 52, 189, 0.76);">Project Name</h5>
                  <p class="card-text">All the Lorem Ipsum generators on the Internet tend to repeat
                      predefined chunks
                      as necessary, making this the first true generator on the Internet.
                  </p>
              </div>
          </div>
          <div class="card border-0">
              <img class="card-img-top"
                  src="C:\Users\josem\OneDrive\Documents\4Geeks\exercise-git-collabration\website1\assets\img/big-project-image.png"
                  alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title " style="color: rgba(52, 52, 189, 0.76);">Project Name</h5>
                  <p class="card-text">All the Lorem Ipsum generators on the Internet tend to repeat
                      predefined chunks
                      as necessary, making this the first true generator on the Internet.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>